.button-delete{
    border: 0;
    padding: 0;
    background-color: white;
}

.height-cart{
    position: absolute;
    height: 30px;
    width: 30px;
}
.user-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.card {
    height: 100vh;
}
.pagina{
    width: 100vw;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center; 
}
